/* ========================= AWAL PAGES PLAYER VS COM =============================== */

.containerplayervscom {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.playerVsComContainer {
  width: 70% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.playerChoiceContainer {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.resultContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices {
  width: 31%;
  height: 25%;
  margin-top: 0.7rem!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comChoices {
  width: 31%!important;
  height: 23%!important;
  margin-top: 0.9rem!important;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.choiced {
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  background-color: #888;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.player1.choices:hover {
  background-color: #ff4b2b;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  transform: translateY(-10%);
}

.rock {
  width: 70%;
  height: 65%;
}

.paper {
  width: 70%;
  height: 80%;
}

.scissors {
  width: 70%;
  height: 90%;
}

.refreshGame {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refreshButton:hover {
  transition: 100ms ease-in-out;
  transform: translateY(-10%);
  cursor: pointer;
}

.refreshButton {
  width: 23%;
  height: 35%;
}

.resultGame {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.playerTitle.title{
  text-transform: uppercase!important;
  font-family: "Fira Sans", sans-serif;
}

.result.title{
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #ffffff;
}
/* ========================== AKHIR PAGES PLAYER VS COM =========== */

/* ========================== AWAL PAGES LOBBY GAME =========== */

.bigContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.left-container {
  margin-top: 4.5rem;
  border-radius: 1.5rem;
  width: 55%;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  margin-right: 0.5rem;
}

.pvcGame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30%;
}

.playVCom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 30%;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: #ff4b2b;
}

.btnVCom {
  line-height: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.btnVCom:hover {
  color: #333;
}

.roomContainer {
  width: 100%;
  height: 60%;
  padding: 0.8rem;
}

.dataCourier {
  width: 30% !important;
  height: 20% !important;
  background-color: #302e2e;
  margin-top: 0.5rem !important;
  margin-right: 0.3rem;
  display: flex;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3 rem;
  padding-right: 0.7 rem;
  justify-content: start;
  align-items: center;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
}

.dataCourier:hover {
  background-color: #ff4b2b;
}

.courierText {
  color: #ffffff;
  font-weight: 400;
}

.courierText:hover {
  color: #000000;
}

.right-container {
  margin-top: 4.5rem !important;
  border-radius: 1.5rem;
  width: 35%;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  margin-left: 0.5rem;
  display: flex !important;
  align-items: center !important;
  position: relative !important;
  overflow: hidden !important;
  flex-direction: column;
}

.lower-right-container-input {
  width: 100% !important;
  height: 50% !important;
  transition: all 0.6s ease-in-out;
  z-index: 0;
  transform: translateY(-100%);
}

.notUpdated.lower-right-container-input {
  z-index: 1;
  transform: translateX(150%);
  opacity: 0;
}

.commandInput {
  height: 5% !important;
  margin-top: 0 !important;
  border-top: 2px solid #ff4b2b !important;
}

.formBiodata.form {
  justify-content: start;
  align-items: flex-start;
  margin-top: 0 !important;
  padding-left: 1rem !important;
}

.inputData {
  background-color: #eee;
  height: 12%;
  border: none;
  padding: 0.3rem 1rem;
  margin: 0.7rem;
  width: 80%;
}

.updateBiodata {
  height: 5vh !important;
}

.labelInput {
  margin-top: 0.2rem !important;
  line-height: 0 !important;
  margin-left: 0 !important;
  width: 50% !important;
}

.inputBiodata.input {
  border-radius: 0.3rem !important;
  margin-left: 2rem!important;
}

.lower-right-container {
  width: 100%;
  height: 50%;
  border-top: 2px solid #ff4b2b !important;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 5.5rem;
  margin-top: 0.5rem;
  padding-top: 1.3rem;
  transform: translateX(150%);
  left: 0;
  z-index: 1;
}

.updatedContainer.lower-right-container {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.biodata {
  font-size: 1.2rem;
  text-transform: capitalize !important;
  margin-top: 1rem;
  font-weight: 500;
}

.upper-right-container {
  width: 100% !important;
  height: 30% !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gameHistoryText {
  font-size: 1rem;
  font-weight: 600;
}

.gameHistoryText:hover {
  color: #ff4b2b !important;
}

.top-upper-right-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rounded-circle {
  width: 20% !important;
  height: 60% !important;
}

.fa-pencil {
  width: 40%;
  color: #000000;
  height: 100% !important;
}

.editIcons {
  background-color: #b0b3b6;
  width: 15%;
  border-radius: 1rem;
  height: 60% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  margin-left: 8rem;
}

.editIcons.fa-pencil:hover {
  background-color: #ff4b2b;
  color: #ffffff;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none !important;
  margin: 15px 0;
  cursor: pointer;
}
a:hover {
  transition: 0.2s ease-in-out;
  color: #ff4b2b;
}
.button {
  border-radius: 1.4rem;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.6rem 2.5rem;
  margin-top: 1rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  transition: 80ms ease-in;
}
.button:active {
  transform: scale(0.95);
}
.button:focus {
  outline: none;
}

.title {
  font-weight: bold !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
  color: black !important;
}

.roomTitle.title {
  margin-bottom: 0 !important;
  margin-top: 0.7rem !important;
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  font-size: 1.5rem !important;
  line-height: 2.3rem !important;
  text-decoration: underline !important;
  font-family: "Fira Sans", sans-serif !important;
  border-top: 2px solid #ff4b2b !important;
}

.profileTitle title {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
  padding: 0 !important;
  margin: 0 !important;
}

.notFound.title {
  color: #ff4b2b;
}

.updateBiodata.button {
  margin-top: 0.3rem;
  width: 65%;
  height: 8%;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================== AKHIR PAGES LOBBY GAME =========== */
/* =========================== BEGIN LOGIN PAGE ================ */
.loginContainer {
  position: absolute;
  background-color: #ff4b2b;
  height: 100vh;
}
.content {
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.form {
  margin-top: 2rem;
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.3;
  border-color: #00ac96 !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  color: #495057;
  height: auto;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}
.field-holder {
  position: relative;
  margin-bottom: 0.9rem;
}
.field-holder label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  margin-top: -0.4rem;
  left: 0;
}
.field-holder:focus-within label {
  transform: translate(0, -8px) scale(0.8);
  color: #6348bd;
}
.field-holder .filled {
  transform: translate(0, -8px) scale(0.8);
}
.button {
  border-radius: 1.4rem;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.6rem 2.5rem;
  margin-top: 1rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  transition: 80ms ease-in;
}
.button:active {
  transform: scale(0.95);
}
.button:hover {
  background-color: black;
  color: white;
}
.registerLink {
  margin-top: 2rem;
}
.errorsMessage {
  line-height: 0 !important;
  font-size: 0.8rem !important;
  font-weight: 300;
  color: red;
  text-transform: lowercase;
  text-align: start !important;
  padding:0 0 1rem 0;
}
.errMsg {
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
/* ============== END OF LOGIN PAGE ==================== */
/* ============== BEGINNING HOME PAGE ==================== */

.HomePage {
  background-image: url(../assets/images/bgPaperRockScissor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 1%;
  width: 100%; /* atau memakai ukuran vw*/
  height: 7vh; /* ukuran responsive memakai vh*/
  background-color: rgba(233, 23, 23, 0.651);
}
.logoHome {
  display: flex;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  letter-spacing: 0.3rem;
  font-size: 1.3rem;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-style: italic;
}

.textCenter {
  height: 10vh;
  width: 30%;
  margin-top: 20%;
  margin-left: 38%;
  opacity: 0.8;
  font-size: 4rem;
  color: white;
  font-style: italic;
}
.textAtas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textBawah {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tombolPlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tombolPlay1 {
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-size: 30px;
  color: rgb(75, 197, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  width: 15%;
  height: 4vh;
  margin-left: 6%;
  margin-top: 3%;
  background-color: rgb(249, 252, 244);
  border-radius: 10px;
  opacity: 0.7;
}
.tombolPlay1:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
/* ============== END HOME PAGE ==================== */
/* ============== BEGIN P1 VS P2 ======================= */
.bigContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.playerVsComContainer {
  width: 70% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.playerChoiceContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
.resultContainer {
  width: 30%;
  background-color: #ff4b2b;
  height: fit-content;
  padding: 2rem;
  border-radius: 10px;
}

.choices {
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comChoices {
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.choiced {
  width: 31%;
  height: 25%;
  margin-top: 2rem;
  background-color: #888;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.player1.choices:hover {
  background-color: #ff4b2b;
  border-radius: 2rem;
  transition: 0.1s ease-in-out;
  transform: translateY(-10%);
}
.rock {
  width: 70%;
  height: 65%;
}

.paper {
  width: 70%;
  height: 80%;
}

.scissors {
  width: 70%;
  height: 90%;
}
/* ============== END OF P1 VS P2 ======================= */

/* BEGIN REGISTER PAGES STYLING */
/* styling placeholder components */
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;

  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* end placeholder styling */
/* styling for box components */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(36, 35, 34);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.774);
  border-radius: 40px;
}

.box:hover {
  box-shadow: 0 0 25px rgba(245, 173, 66, 0.75),
    0 0 25px rgba(245, 173, 66, 0.75), 0 0 50px rgba(245, 173, 66, 0.75),
    0 0 100px rgba(245, 173, 66, 0.75);
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .user-box {
  position: relative;
}

/* end of box styling */

/* style for ButtonR components */
.buttonR {
  position: relative;
  display: inline-block;
  /* padding: 10px 20px; */
  color: black;
  font-size: 16px;
  margin-left: 90px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.buttonR:hover {
  background: rgba(66, 245, 236, 0.75);

  border-radius: 21px;
  box-shadow: 0 0 25px rgba(66, 245, 236, 0.75),
    0 0 25px rgba(66, 245, 236, 0.75), 0 0 50px rgba(66, 245, 236, 0.75),
    0 0 100px rgba(66, 245, 236, 0.75);
}

/* END REGISTER PAGES STYLING */
/* ============== BEGIN GAME HISTORY ======================= */
.tableContainer.container{
  width: 70%!important;
  height: 100%!important;
  padding: 1rem!important;
  margin-top: 6rem;
  background-color: #ffffff!important;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 320px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #ff4b2b;
  border-color: #ff416c;
}

/* ============== END GAME HISTORY ======================= */
/* ============== BEGIN OF STATIC PAGE =================== */
.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
  height: 10% !important;
  padding-left: 1rem !important;
  background: #ff416c !important;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c) !important;
  background: linear-gradient(to right, #ff4b2b, #ff416c) !important;
  border-top: 3px solid #ffffff !important;
  border-bottom: 1px solid #403f3f80 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  box-sizing: border-box;
  margin-top: -3px;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  min-height: 100%;
  width: 30%;
  color: #ffffff;
  letter-spacing: 10%;
  font-family: "Open Sans";
  font-weight: 700;
}

.navbar-logo:hover {
  color: #121111;
  border-radius: 1rem;
  transition: 0.1s ease-in;
}

.icons-logo {
  width: 14%;
  border-radius: 2rem;
}

.logo-text {
  margin-left: 1rem;
}

.navbar-register {
  width: 30%;
  display: flex;
  justify-content: center;
}

.form-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  width: 30%;
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-link:hover {
  background-color: #f2f7fbd5;
  color: #121111;
  transition: 0.1s ease-in;
  border-radius: 1rem;
  border: 1px solid #b0b3b6;
  transform: translateY(2%);
}

.home-page {
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; */
}

.footer {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.8rem;
  background: #ff416c !important;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c) !important;
  background: linear-gradient(to right, #ff4b2b, #ff416c) !important;
}

.footer-link:hover {
  color: #121111 !important;
  transition: 0.1s ease-in;
  border: 1px solid #b0b3b6;
  transform: translateY(2%);
}
/* ==================== END OF STATIC PAGE ================================== */



/* ================BEGIN CREATE ROOM  =============== */
choiceCreateRoom.playerChoiceContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.createRoom.playerVsComContainer{
  flex-direction: column;
}

.choiceContainer{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0!important;
}

.rockRoom{
  width: 51%;
  height: 100%;
}

.paperRoom{
  width: 51%;
  height: 100%;
}

.scissorsRoom{
  width: 51%;
  height: 100%;
}

.player.player1.choices{
  width: 23%;
  height: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.player.player1.choices:hover{
  border-radius: 0.6rem;
}

.inputCreateRoom.playerChoiceContainer{
  height: 40%!important;
  padding: 0;
  width: 50%;
  justify-content: center;
  align-items: center;
}



.roomChoice.choiced{
  width: 23%;
  height: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.6rem;
}

/* .tableContainer.container{
  width: 70%!important;
  height: 100%!important;
  padding: 1rem!important;
  background-color: #ffffff!important;
} */
/* ============== end CREATE ROOM ============= */